## Accepted Papers
&#x20;<i>(Listed in alphabetical order by first author's last name)</i>
&#x20;<br>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper1.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper1.pdf"><strong>Verification by Translation to Recursive Functions</strong></a> <span class="label label-full">Full Paper</span><br> by Régis Blanc (EPFL), Etienne Kneuss (EPFL), Viktor Kuncak (EPFL) and Philippe Suter (EPFL).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper2.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper2.pdf"><strong>CafeSat: A Modern SAT Solver for Scala</strong></a> <span class="label label-tool">Tool Demo</span><br> by Régis Blanc (EPFL).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper3.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper3.pdf"><strong>Scala Macros: Let Our Powers Combine!</strong></a> <span class="label label-full">Full Paper</span><br> by Eugene Burmako (EPFL).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper4.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper4.pdf"><strong>A New Concurrency Model for Scala Based on a Declarative Dataflow Core</strong></a> <span class="label label-full">Full Paper</span><br> by Sébastien Doeraene (EPFL) and Peter Van Roy (Université catholique de Louvain)
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper5.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper5.pdf"><strong>GADTs and Declaration-site Variance: A Problem Statement</strong></a> <span class="label label-short">Short Paper</span><br> by Paolo G. Giarrusso (University of Marburg).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper6.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper6.pdf"><strong>Towards a Tight Integration of a Functional Web Client Language into Scala</strong></a> <span class="label label-short">Short Paper</span><br> by Christoph Höger (TU Berlin) and Martin Zuber (TU Berlin).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper7.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper7.pdf"><strong>Parsing Graphs – Applying Parser Combinators to Graph Traversals</strong></a> <span class="label label-short">Short Paper</span><br> by Daniel Kröni (FHNW) and Raphael Schweizer (FHNW).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper8.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper8.pdf"><strong>Scalad: An Interactive Type-Level Debugger</strong></a> <span class="label label-tool">Tool Demo</span><br> by Hubert Plociniczak (EPFL).
</div>

<div class="paper">
<span class="icon-wrap" style="height: 100px;"><a href="{{ site.baseurl }}/resources/pdfs/paper9.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper9.pdf"><strong>An Experimental Study of the Influence of Dynamic Compiler <br>Optimizations on Scala Performance</strong></a> <span class="label label-full">Full Paper</span><br> by Lukas Stadler (Johannes Kepler University), Gilles Duboscq (Johannes Kepler University), Hanspeter Mössenböck (Johannes Kepler University), Thomas Wuerthinger (Oracle Labs) and Doug Simon (Oracle Labs).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper10.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper10.pdf"><strong>Bridging Islands of Specialized Code using Macros and Reified Types</strong></a> <span class="label label-short">Short Paper</span><br> by Nicolas Stucki (EPFL) and Vlad Ureche (EPFL).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper11.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper11.pdf"><strong>What are the Odds? – Probabilistic Programming in Scala</strong></a> <span class="label label-full">Full Paper</span><br> by Sandro Stucki (EPFL), Nada Amin (EPFL), Manohar Jonnalagedda (EPFL) and Tiark Rompf (EPFL, Oracle Labs).
</div>

<div class="paper">
<span class="icon-wrap"><a href="{{ site.baseurl }}/resources/pdfs/paper12.pdf"><img class="pdf-icon" src="{{ site.baseurl }}/resources/img/pdf-icon.png"/></a></span><a href="{{ site.baseurl }}/resources/pdfs/paper12.pdf"><strong>Dataflow Constructs for a Language Extension Based on the Algebra of <br>Communicating Processes</strong></a> <span class="label label-full">Full Paper</span><br> by André Van Delft.
</div>


## Accepted Presentations

&#x20;<i>(Listed in alphabetical order by first author's last name)</i>
&#x20;<br>

**<span class="dark">Stack Retention in Debuggers For Concurrent Programs</span>**<br>
Iulian Dragos (Typesafe).

**<span class="dark">Reducing boilerplate by generating type class instances automatically</span>**<br>
Lars Hupel (TU München).

**<span class="dark">Implicit Parallelism in a Functional Subset of Scala</span>**<br>
Shams Imam (Rice University), Robert Cartwright (Rice University) and Vivek Sarkar (Rice University).


## Accepted Student Talks

&#x20;<i>(Listed in alphabetical order by author's last name)</i>
&#x20;<br>

**<span class="dark">Flexible Implicits for Scala (from Agda)</span>**<br>
Paolo G. Giarrusso (University of Marburg).

**<span class="dark">InSynth: Type-Driven Interactive Synthesis of Code Snippets</span>**<br>
Tihomir Gvero (EPFL).

**<span class="dark">Model Manipulation using embedded DSLs in Scala</span>**<br>
Filip Krikava (Université de Nice Sophia Antipolis).

**<span class="dark">Linter: A Static Analysis Compiler Plugin</span>**<br>
Matic Potočnik (University of Ljubljana).

**<span class="dark">Modular Quasiquotes for Scala</span>**<br>
Denys Shabalin (EPFL).

**<span class="dark">A Responsive Framework for Complex Computations</span>**<br>
Ellis Whitehead (ETH Zürich).
