<div class="white-fullwidth-bar">
  <div class="container">
    <a class="brand" href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/resources/img/navbar-logo.png"/></a>
    <ul class="nav">
      <li><a href="{{ site.baseurl }}/call-for-papers.html">Call for Papers</a></li>
      <li><a href="{{ site.baseurl }}/submission.html">Submission</a></li>
      <li><a href="{{ site.baseurl }}/program.html">Program & Accepted Papers</a></li>
      <li><a href="http://info-web.lirmm.fr/ec-montpellier-2013/index.php/information">Registration</a></li>
    </ul>
  </div>
</div>