---
layout: default
---

{% include header.html %}

<div class="greenstripe">&nbsp;</div>
<div class="graystripe">&nbsp;</div>

<div class="splash">
  <div class="container">
    <div class="event-info">
      <div class="event-name">
        <img src="{{ site.baseurl }}/resources/img/glyph-left.png"/>
        the Fourth Annual Scala Workshop
        <img src="{{ site.baseurl }}/resources/img/glyph-right.png"/>
      </div>
      <div class="event-abbr">Scala<span style="font-weight: 100; font-family: 'Lato', sans-serif; font-style: italic; color: #BAC172;">2013</span></div>
      <div class="event-date">July 2nd, 2013</div>
      <div class="event-location">Montpellier, France</div>
      <div class="event-colocation">co-located with ECOOP, ECMFA, and ECSA</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="logo-bg">&nbsp;</div>
</div>

{% include footer.html %}