---
layout: default
---

{% include header.html %}

<div class="greenstripe">&nbsp;</div>
<div class="graystripe">&nbsp;</div>

<div class="splash">
  <div class="container">
    <div class="event-info">
      <div class="event-name">
        <img src="{{ site.baseurl }}/resources/img/glyph-left.png"/>
        the Fourth Annual Scala Workshop
        <img src="{{ site.baseurl }}/resources/img/glyph-right.png"/>
      </div>
      <div class="event-abbr">Scala<span style="font-weight: 100; font-family: 'Lato', sans-serif; font-style: italic; color: #BAC172;">2013</span></div>
      <div class="event-location">Montpellier, France</div>
      <div class="event-date">July 2<sup><span style="text-transform: lowercase;">nd</span></sup>, 2013</div>
      <div class="event-colocation">co-located with <a href="http://www.lirmm.fr/ecoop13/">ECOOP</a>, <a href="http://www.lirmm.fr/ecmfa13/">ECMFA</a>, and <a href="http://www.lirmm.fr/ecsa13/">ECSA</a></div>
      <div class="france">&nbsp;</div>
    </div>
  </div>
</div>

<div class="container" style="min-height: 72px;">
  <div class="logo-bg">&nbsp;</div>
</div>

<div class="bluegray">
  <div class="container">
    <div class="tagline">
      <p>
        The leading forum for research and</br> development on or related to the Scala programming language.
      </p>
    </div>
    <div class="sub-tagline">
      <p>
        Join us for a full day of research talks, tool demos, and opportunities to engage with researchers, practitioners, and students working with or interested in the Scala programming language. The Scala workshop is a venue for exploring ongoing work on programming languages and software engineering, intent on bridging the gap between industry and academia.
      </p>
    </div>
  </div>
</div>

{% include navbar.html %}

<div class="greenstripe" style="height: 6px;">&nbsp;</div>

<div class="darkgray">
  <div class="container">
    <div class="submit-something">
      <h2>Format of the Workshop</h2>
        <p>
          This year, we're happy to announce that we've spiced up the format of the workshop quite a bit!
          In addition to full research papers, this year we also solicit short research papers, student talks, & demos.
        </p>
        <h3 style="font-family: 'Arvo', serif; color: #ffffff; text-align: center;">We solicit...</h3>
      <div class="submit-something-box-container">
        <div class="box left-box submit-something-box">
          <h3>Student Talks</h3>
            <div class="submit-something-content" style="position: relative; margin-right: 32px; margin-left: 10px;">
              <p>Short 5-minute talks by PhD students presenting ongoing or completed research related to Scala, or announcing a project that would be of interest to the Scala community.</p>
            </div>
        </div>
        <div class="box right-box submit-something-box">
          <h3>Tool Demos</h3>
            <div class="submit-something-content" style="position: relative; margin-left: 46px; margin-right: 10px;">
              <p>A live demonstration of a tool (typically complete, robust, and well-documented), accompanied by a short paper providing an overview of the tool.</p>
            </div>
        </div>
        <div class="box submit-something-box">
          <h3>Research Papers</h3>
            <div class="submit-something-content" style="position: relative; margin-left: 8px; margin-right: 8px;">
              <p>Papers describing original research or experience reports related to Scala.</p>
              <p><b style="color: #7BB9BE">Research papers come in two flavors:</b>
                </br><b>- Regular</b> (10 page) papers
                </br><b>- Short</b> (4 page) papers</p>
                <p>Both in ACM double-column style.</p>
            </div>
        </div>
      </div>
      <h4 style="font-family: 'Arvo', serif; color: #ffffff; text-align: center; text-transform: none;">For more details, see the Call For Papers</h4>
      <p style="text-align: center; margin-bottom: 32px;"><a href="#" class="magenta-button small" style="width: 200px; margin: 0px auto;">Call for Papers</a></p>
      <p>We'll also have an exciting keynote (to be announced), as well as a provocative panel discussion.</p>
    </div>
  </div>
</div>

<div class="greenstripe" style="height: 6px;">&nbsp;</div>

<div class="lightblue">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="committee">
          {% include program-committee.html %}
        </div>
      </div>
      <div class="span6">
        <div class="committee">
          {% include organization-committee.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bluegray-sponsors">
  <div class="container">
    <h3>Many thanks to our sponsors!</h3>
    <img src="{{ site.baseurl }}/resources/img/typesafe-logo.png"/>
  </div>
</div>

<div class="greenstripe" style="height: 6px;">&nbsp;</div>

<div class="darkgray-footer">
  <p>Copyright 2013, EPFL</p>
</div>


{% include footer.html %}