---
layout: default
---

{% include header.html %}

<div class="greenstripe">&nbsp;</div>
<div class="graystripe">&nbsp;</div>

<div class="splash">
  <div class="container">
    <div class="event-info">
      <div class="event-name">
        <img src="{{ site.baseurl }}/resources/img/glyph-left.png"/>
        the Fourth Annual Scala Workshop
        <img src="{{ site.baseurl }}/resources/img/glyph-right.png"/>
      </div>
      <div class="event-abbr">Scala<span style="font-weight: 100; font-family: 'Lato', sans-serif; font-style: italic; color: #BAC172;">2013</span></div>
      <div class="event-location">Montpellier, France</div>
      <div class="event-date">July 2<sup><span style="text-transform: lowercase;">nd</span></sup>, 2013</div>
      <div class="event-colocation">co-located with <a href="http://www.lirmm.fr/ecoop13/">ECOOP</a>, <a href="http://www.lirmm.fr/ecmfa13/">ECMFA</a>, and <a href="http://www.lirmm.fr/ecsa13/">ECSA</a></div>
      <div class="france">&nbsp;</div>
    </div>
  </div>
</div>

<div class="container" style="min-height: 72px;">
  <div class="logo-bg">&nbsp;</div>
</div>

<div class="bluegray">
  <div class="container">
    <div class="tagline">
      <p>
        The leading forum for research and</br> development on or related to the Scala programming language.
      </p>
    </div>
    <div class="sub-tagline">
      <p>
        Join us for a full day of research talks, tool demos, and opportunities to engage with researchers, practitioners, and students working with or interested in the Scala programming language. The Scala workshop is a venue for exploring ongoing work on programming languages and software engineering, intent on bridging the gap between industry and academia.
      </p>
    </div>
  </div>
</div>

<div class="greenstripe" style="height: 6px;">&nbsp;</div>

<div class="darkgray">
  <div class="container">
    &nbsp;
  </div>
</div>

<div class="lightblue">
  <div class="container">
    &nbsp;
  </div>
</div>


{% include footer.html %}