---
layout: default
---

{% include header.html %}

<div class="bluestripe">&nbsp;</div>

<div class="wrapper">
  <div class="ribbon"><img src="{{ site.baseurl }}/resources/img/ribbon.png"></div>
  <div class="container">
    <div class="rightcolumn"> &nbsp;</div>
    <div class="row">
      <div class="span8">
        {{ content }}
      </div>
      <div class="span4">
        <div class="polaroid-wrapper">
          <div class="polaroid">
            <!-- <img src="{{ site.baseurl }}/resources/img/profile.png"> -->
          </div>
        </div>
        <div class="rightcolumn-content">
          right column.
        </div>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}